<div class="ui checkbox {{ field_type.config.type ?: 'toggle' }}">
    <input
            type="checkbox"
            name="{{ field_type.getInputName() }}"
            {{ field_type.value ? 'checked' }}>

    <label>{{ trans(field_type.config.text ?: null)|raw }}</label>
</div>
