/* --------------------------------------------------------
Style Sheet for boolean-field_type

last modified: 2018/02/01 by Edi Mange
author: William Åström
email: william@pixney.com
----------------------------------------------------------*/

$colors: (
        "success": #47d165 !default,
        "warning": #ff754b !default,
        "danger": #ff3160 !default,
        "info": #11bef6 !default,
        "default": #55595c !default
) !default;

@function color($key: "success") {
    @return map-get($colors, $key);
}

.boolean-field_type {

    .switch {
        position: relative;

        display: flex;
        align-items: center;
        justify-content: flex-start;

        width: 57px;
        flex-wrap: wrap;
        justify-content: space-between;

        -webkit-user-select: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        -ms-user-select: none;
    }

    .switch__checkbox {
        display: none;
    }

    .switch__label {

        // Allow for inner text
        line-height: 1.4;
        overflow: visible;
        text-indent: 3.5rem;
        white-space: nowrap;

        //line-height: 2px;

        position: relative;

        display: block;

        height: 2px;
        padding: 0;

        cursor: pointer;
        -webkit-transition: all 100ms ease-in;
        -moz-transition: all 100ms ease-in;
        -ms-transition: all 100ms ease-in;
        -o-transition: all 100ms ease-in;
        transition: all 100ms ease-in;

        border: 2px solid #dcd9d9;
        border-radius: 2px;
        background-color: #dcd9d9;

        -webkit-box-flex: 0;
        order: 1;
        flex: 0 0 57px;
        max-width: 57px;
    }

    .switch__label:before {
        position: absolute;
        top: 0;
        right: 26.5px;
        bottom: 0;

        display: block;

        width: -2px;
        margin: 0;

        content: '';
        -webkit-transition: all 100ms ease-in;
        -moz-transition: all 100ms ease-in;
        -ms-transition: all 100ms ease-in;
        -o-transition: all 100ms ease-in;
        transition: all 100ms ease-in;

        border: 2px solid #dcd9d9;
        border-radius: 2px;
        background: #ffffff;
    }

    .switch__checkbox:checked + .switch__label {
        background-color: #735aed;
    }

    .switch__checkbox:checked + .switch__label,
    .switch__checkbox:checked + .switch__label:before {
        border-color: #735aed;
    }

    .switch__checkbox:checked + .switch__label:before {
        right: 0;
    }

    .switch__checkbox:disabled,
    .switch__checkbox:checked:disabled {
        & + .switch__label {
            opacity: 0.3;
        }
    }
}

@each $color, $value in $colors {
    .boolean-field_type .switch__checkbox.switch__checkbox--on-#{$color}:checked {
        & + .switch__label,
        & + .switch__label:before {
            border-color: $value;
        }
        & + .switch__label {
            background-color: $value;
        }
    }
    .boolean-field_type .switch__checkbox.switch__checkbox--off-#{$color} {
        & + .switch__label,
        & + .switch__label:before {
            border-color: $value;
        }
        & + .switch__label {
            background-color: $value;
        }
    }
}
