$boolean_field_type_width : 50px;
$boolean_field_type_height: 27px;
$boolean_field_type_border_width : 2px;
$boolean_field_type_circle_size : $boolean_field_type_height - ($boolean_field_type_border_width * 2);
$boolean_field_type_pos_off: ($boolean_field_type_width / 2) - $boolean_field_type_border_width;

$colors: (
  "success": 	#5cb85c,
  "info": 		#5bc0de,
  "warning":	#f0ad4e,
  "danger":		#d9534f,
  "default": 	#f7f7f7
) !default;

@function color($key: "success") {
  @return map-get($colors, $key);
}

.boolean-field_type
{
	.switch
	{
		position: relative;

		display: flex;
		align-items: center;
		justify-content: flex-start;

		width: $boolean_field_type_width;
		flex-wrap:wrap;
		justify-content: space-between;

		-webkit-user-select: none;
		-webkit-user-select: none;
		-moz-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		-ms-user-select: none;
	}
	.switch__checkbox
	{
		display: none;
	}
	.switch__label
	{
		line-height: $boolean_field_type_height;

		position: relative;

		display: block;
		overflow: hidden;

		height: $boolean_field_type_height;
		padding: 0;

		cursor: pointer;
		transition: all .3s ease-in 0s;

		border: 2px solid #dcd9d9;
		border-radius: $boolean_field_type_height;
		background-color: #dcd9d9;

		-webkit-box-flex: 0;
		order:1;
		flex: 0 0 $boolean_field_type_width;
		max-width: $boolean_field_type_width;
	}
	.switch__label:before
	{
		position: absolute;
		top: 0;
		right: $boolean_field_type_pos_off;
		bottom: 0;

		display: block;

		width: $boolean_field_type_circle_size;
		margin: 0;

		content: '';
		transition: all .3s ease-in 0s;

		border: $boolean_field_type_border_width solid #dcd9d9;
		border-radius: $boolean_field_type_height;
		background: #fff;
	}
	.switch__checkbox:checked + .switch__label
	{
		background-color: #735aed;
	}
	.switch__checkbox:checked + .switch__label,
	.switch__checkbox:checked + .switch__label:before
	{
		border-color: #735aed;
	}
	.switch__checkbox:checked + .switch__label:before
	{
		right: 0;
	}
}


@each $color, $value in $colors {
	.boolean-field_type .switch__checkbox.switch__checkbox--on-#{$color}:checked
	{
		& + .switch__label,
		& + .switch__label:before {
			border-color:$value;	
		}
		& + .switch__label
		{
			background-color:$value;	
		}
	}
	.boolean-field_type .switch__checkbox.switch__checkbox--off-#{$color}
	{
		& + .switch__label,
		& + .switch__label:before {
			border-color:$value;	
		}
		& + .switch__label
		{
			background-color:$value;	
		}
	}
}

// switch__checkbox--off-danger

////////////////////////////////////////////////////////////////////////////////
// Adding text to the switch
////////////////////////////////////////////////////////////////////////////////
// .boolean-field_type .switch
// {
// 	&:before,
// 	&:after
// 	{
// 		position: relative;

// 		overflow: hidden;

// 		white-space: nowrap;
// 		text-overflow: ellipsis;
// 		-webkit-box-flex: 0;
// 		flex: 0 0 50%;
// 		max-width: 50%;

// 	}
// 	&:before
// 	{
// 		content: attr(data-on-text);
// 		order:2;
// 	}
// 	&:after
// 	{
// 		content: attr(data-off-text);
// 		order:3;
// 		text-align:right;
// 	}
// }
